## Imports

In [1]:
# to convert into dataframes
import pandas as pd

# extract url response/info
from urllib.request import urlopen

# to work with html content
from bs4 import BeautifulSoup

## T20I - Batting Stats - By Players

### Note: Change Line No 23 to below format to get all records
- Current   => for k in range(min_limit, 2):
- Change to => for k in range(min_limit, max_limit):

In [2]:
# find pages count, using page 1 as reference
url = "https://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;page=" + str(1) + ";template=results;type=batting;view=innings"
text = urlopen(url)
soup = BeautifulSoup(text, "lxml")
table = soup.findAll('table', attrs = {'class' : 'engineTable'})

tr_list = table[1].findAll('tr', attrs = {'class': 'data2'})

min_pages = int(tr_list[0].findAll('b')[0].get_text())
max_pages = int(tr_list[0].findAll('b')[1].get_text())

entries_per_page = int(tr_list[0].findAll('b')[3].get_text())
total_players_count = int(tr_list[0].findAll('b')[4].get_text())

# set limits to run the for loop
min_limit = min_pages
if (total_players_count//entries_per_page) > 0:
    max_limit = max_pages + 1

# initialize all players data
all_players = []

for k in range(min_limit, 2):
    # url to text & then to soup object conversion
    url = "https://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;page=" + str(k) + ";template=results;type=batting;view=innings"
    text = urlopen(url)
    soup = BeautifulSoup(text, "lxml")
    table = soup.findAll('table', attrs = {'class' : 'engineTable'})
    int_table = table[0]
    
    # iterate through all tables, find the one with caption tag
    for temp_table in table:
        caption_tag = temp_table.findAll('caption')
        if(len(caption_tag) > 0):
            int_table = temp_table
    
    # fetch table with data
    tr_list = int_table.findAll('tr', attrs = {'class': 'data1'})
    
    # populate data
    for tr in tr_list:
        td_list = tr.findAll('td')
        row_data = []
        for td in td_list:
            td_str = str(td)
            cleantext = BeautifulSoup(td_str, "lxml").get_text()
            row_data.append(cleantext)
        all_players.append(row_data)
        
    # populate column names
    tr_list_columns = int_table.findAll('tr', attrs = {'class': 'headlinks'})
    cols_count = len(tr_list_columns[0].findAll('th'))
    
    column_names_ls = []
    for i in range(cols_count):
        column_name = tr_list_columns[0].findAll('th')[i].get_text()
        column_names_ls.append(column_name)
        
    # convert to dataframe
    t20_bat_ing_df = pd.DataFrame(all_players, columns = column_names_ls)

In [3]:
t20_bat_ing_df.head()

,Player,Runs,Mins,BF,4s,6s,SR,Inns,,Opposition,Ground,Start Date,
0,AJ Finch (AUS),172,-,76,16,10,226.31,1,,v Zimbabwe,Harare,3 Jul 2018,
1,Hazratullah Zazai (AFG),162*,-,62,11,16,261.29,1,,v Ireland,Dehradun,23 Feb 2019,
2,AJ Finch (AUS),156,70,63,11,14,247.61,1,,v England,Southampton,29 Aug 2013,
3,GJ Maxwell (AUS),145*,-,65,14,9,223.07,1,,v Sri Lanka,Pallekele,6 Sep 2016,
4,MP O'Dowd (NL),133*,-,73,15,6,182.19,1,,v Malaysia,Kirtipur,18 Apr 2021,

In [4]:
len(t20_bat_ing_df)

50

## ODI - Batting Stats - By Players

### Note: Change Line No 23 to below format to get all records
- Current   => for k in range(min_limit, 2):
- Change to => for k in range(min_limit, max_limit):

In [5]:
# find pages count, using page 1 as reference
url = "https://stats.espncricinfo.com/ci/engine/stats/index.html?class=2;page=" + str(1) + ";template=results;type=batting;view=innings"
text = urlopen(url)
soup = BeautifulSoup(text, "lxml")
table = soup.findAll('table', attrs = {'class' : 'engineTable'})

tr_list = table[1].findAll('tr', attrs = {'class': 'data2'})

min_pages = int(tr_list[0].findAll('b')[0].get_text())
max_pages = int(tr_list[0].findAll('b')[1].get_text())

entries_per_page = int(tr_list[0].findAll('b')[3].get_text())
total_players_count = int(tr_list[0].findAll('b')[4].get_text())

# set limits to run the for loop
min_limit = min_pages
if (total_players_count//entries_per_page) > 0:
    max_limit = max_pages + 1

# initialize all players data
all_players = []

for k in range(min_limit, 2):
    # url to text & then to soup object conversion
    url = "https://stats.espncricinfo.com/ci/engine/stats/index.html?class=2;page=" + str(k) + ";template=results;type=batting;view=innings"
    text = urlopen(url)
    soup = BeautifulSoup(text, "lxml")
    table = soup.findAll('table', attrs = {'class' : 'engineTable'})
    int_table = table[0]
    
    # iterate through all tables, find the one with caption tag
    for temp_table in table:
        caption_tag = temp_table.findAll('caption')
        if(len(caption_tag) > 0):
            int_table = temp_table
    
    # fetch table with data
    tr_list = int_table.findAll('tr', attrs = {'class': 'data1'})
    
    # populate data
    for tr in tr_list:
        td_list = tr.findAll('td')
        row_data = []
        for td in td_list:
            td_str = str(td)
            cleantext = BeautifulSoup(td_str, "lxml").get_text()
            row_data.append(cleantext)
        all_players.append(row_data)
        
    # populate column names
    tr_list_columns = int_table.findAll('tr', attrs = {'class': 'headlinks'})
    cols_count = len(tr_list_columns[0].findAll('th'))
    
    column_names_ls = []
    for i in range(cols_count):
        column_name = tr_list_columns[0].findAll('th')[i].get_text()
        column_names_ls.append(column_name)
        
    # convert to dataframe
    odi_bat_ing_df = pd.DataFrame(all_players, columns = column_names_ls)

In [6]:
odi_bat_ing_df.head()

,Player,Runs,Mins,BF,4s,6s,SR,Inns,,Opposition,Ground,Start Date,
0,RG Sharma (INDIA),264,225,173,33,9,152.60,1,,v Sri Lanka,Kolkata,13 Nov 2014,
1,MJ Guptill (NZ),237*,223,163,24,11,145.39,1,,v West Indies,Wellington,21 Mar 2015,
2,V Sehwag (INDIA),219,208,149,25,7,146.97,1,,v West Indies,Indore,8 Dec 2011,
3,CH Gayle (WI),215,212,147,10,16,146.25,1,,v Zimbabwe,Canberra,24 Feb 2015,
4,Fakhar Zaman (PAK),210*,221,156,24,5,134.61,1,,v Zimbabwe,Bulawayo,20 Jul 2018,

In [7]:
len(odi_bat_ing_df)

50