# Problem Statement:

### Are Virat and Rohit the Best ODI pairs for India?

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

In [2]:
odidf = pd.read_csv("C:\\Users\\SHETTS60\\Documents\\Python scripts\\Cricket analytics Materials\\CricSheet\\Data Files\\Shishir_ODIs_ball_by_ball.csv")

In [3]:
df = odidf.copy()

In [4]:
df.head(2)

   match_id   season  start_date      venue  innings  ball batting_team bowling_team       striker   non_striker     bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed
0  64857     2003/04  2004-01-03  Eden Park  1        46.1  Pakistan     New Zealand  Abdul Razzaq  Moin Khan     AR Adams   2             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
1  64857     2003/04  2004-01-03  Eden Park  1        4.6   Pakistan     New Zealand  Yasir Hameed  Imran Farhat  DR Tuffey  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN

In [5]:
#Filtering batting team = India
df1 = df[df['batting_team'] == 'India']

In [6]:
df1.head()

     match_id   season  start_date                     venue  innings  ball batting_team bowling_team       striker   non_striker        bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed
611  65643     2003/04  2004-01-09  Melbourne Cricket Ground  2        42.1  India        Australia    SC Ganguly    Yuvraj Singh  JN Gillespie  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
612  65643     2003/04  2004-01-09  Melbourne Cricket Ground  2        41.3  India        Australia    SC Ganguly    Yuvraj Singh  A Symonds     1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
613  65643     2003/04  2004-01-09  Melbourne Cricket Ground  2        41.4  India        Australia    Yuvraj Singh  SC Ganguly    A Symonds     1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
614  65643     2003/04  2004-01-09  Melbourne Cricket Ground  2        41.5  India        Australia    SC Ganguly    Yuvraj Singh  A Symonds     1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
615  65643     2003/04  2004-01-09  Melbourne Cricket Ground  2        41.2  India        Australia    SC Ganguly    Yuvraj Singh  A Symonds     0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN

In [7]:
testdf = df1.head(100)

In [8]:
testdf1 = pd.DataFrame( testdf.groupby(['striker','non_striker'])['runs_off_bat'].sum()).reset_index()

In [9]:
testdf1

         striker   non_striker  runs_off_bat
0   A Kumble      IK Pathan     1
1   A Kumble      L Balaji      4
2   AB Agarkar    SB Bangar     1
3   IK Pathan     A Kumble      2
4   IK Pathan     SB Bangar     1
5   R Dravid      SC Ganguly    0
6   SB Bangar     AB Agarkar    1
7   SB Bangar     IK Pathan     2
8   SB Bangar     SC Ganguly    0
9   SC Ganguly    VVS Laxman    12
10  SC Ganguly    Yuvraj Singh  32
11  VVS Laxman    SC Ganguly    13
12  Yuvraj Singh  SC Ganguly    20

In [22]:
list1 = []
list2 = []
for index,row in testdf1.iterrows():
   #print(row["striker"] ,row["non_striker"])
    list1.append(row["striker"])
    list1.append(row["non_striker"])
    values_1=row["striker"]
    values_2=row["non_striker"]
    filtered_df = testdf1[testdf1.striker.str.contains(values_1) & testdf1.non_striker.str.contains(values_2) | 
                          testdf1.non_striker.str.contains(values_1) & testdf1.striker.str.contains(values_2)]
    filtered_df1 = testdf1[testdf1.striker.str.contains(values_1) & testdf1.non_striker.str.contains(values_2) | 
                          testdf1.non_striker.str.contains(values_1) & testdf1.striker.str.contains(values_2)]['runs_off_bat'].sum()
    #list1.insert(index,list1)
    list1.append(filtered_df1)
   
    print(list1)

['A Kumble', 'IK Pathan', 3]
['A Kumble', 'IK Pathan', 3, 'A Kumble', 'L Balaji', 4]
['A Kumble', 'IK Pathan', 3, 'A Kumble', 'L Balaji', 4, 'AB Agarkar', 'SB Bangar', 2]
['A Kumble', 'IK Pathan', 3, 'A Kumble', 'L Balaji', 4, 'AB Agarkar', 'SB Bangar', 2, 'IK Pathan', 'A Kumble', 3]
['A Kumble', 'IK Pathan', 3, 'A Kumble', 'L Balaji', 4, 'AB Agarkar', 'SB Bangar', 2, 'IK Pathan', 'A Kumble', 3, 'IK Pathan', 'SB Bangar', 3]
['A Kumble', 'IK Pathan', 3, 'A Kumble', 'L Balaji', 4, 'AB Agarkar', 'SB Bangar', 2, 'IK Pathan', 'A Kumble', 3, 'IK Pathan', 'SB Bangar', 3, 'R Dravid', 'SC Ganguly', 0]
['A Kumble', 'IK Pathan', 3, 'A Kumble', 'L Balaji', 4, 'AB Agarkar', 'SB Bangar', 2, 'IK Pathan', 'A Kumble', 3, 'IK Pathan', 'SB Bangar', 3, 'R Dravid', 'SC Ganguly', 0, 'SB Bangar', 'AB Agarkar', 2]
['A Kumble', 'IK Pathan', 3, 'A Kumble', 'L Balaji', 4, 'AB Agarkar', 'SB Bangar', 2, 'IK Pathan', 'A Kumble', 3, 'IK Pathan', 'SB Bangar', 3, 'R Dravid', 'SC Ganguly', 0, 'SB Bangar', 'AB Agarkar', 2, 'SB Bangar', 'IK Pathan', 3]
['A Kumble', 'IK Pathan', 3, 'A Kumble', 'L Balaji', 4, 'AB Agarkar', 'SB Bangar', 2, 'IK Pathan', 'A Kumble', 3, 'IK Pathan', 'SB Bangar', 3, 'R Dravid', 'SC Ganguly', 0, 'SB Bangar', 'AB Agarkar', 2, 'SB Bangar', 'IK Pathan', 3, 'SB Bangar', 'SC Ganguly', 0]
['A Kumble', 'IK Pathan', 3, 'A Kumble', 'L Balaji', 4, 'AB Agarkar', 'SB Bangar', 2, 'IK Pathan', 'A Kumble', 3, 'IK Pathan', 'SB Bangar', 3, 'R Dravid', 'SC Ganguly', 0, 'SB Bangar', 'AB Agarkar', 2, 'SB Bangar', 'IK Pathan', 3, 'SB Bangar', 'SC Ganguly', 0, 'SC Ganguly', 'VVS Laxman', 25]
['A Kumble', 'IK Pathan', 3, 'A Kumble', 'L Balaji', 4, 'AB Agarkar', 'SB Bangar', 2, 'IK Pathan', 'A Kumble', 3, 'IK Pathan', 'SB Bangar', 3, 'R Dravid', 'SC Ganguly', 0, 'SB Bangar', 'AB Agarkar', 2, 'SB Bangar', 'IK Pathan', 3, 'SB Bangar', 'SC Ganguly', 0, 'SC Ganguly', 'VVS Laxman', 25, 'SC Ganguly', 'Yuvraj Singh', 52]
['A Kumble', 'IK Pathan', 3, 'A Kumble', 'L Balaji', 4, 'AB Agarkar', 'SB Bangar', 2, 'IK Pathan', 'A Kumble', 3, 'IK Pathan', 'SB Bangar', 3, 'R Dravid', 'SC Ganguly', 0, 'SB Bangar', 'AB Agarkar', 2, 'SB Bangar', 'IK Pathan', 3, 'SB Bangar', 'SC Ganguly', 0, 'SC Ganguly', 'VVS Laxman', 25, 'SC Ganguly', 'Yuvraj Singh', 52, 'VVS Laxman', 'SC Ganguly', 25]
['A Kumble', 'IK Pathan', 3, 'A Kumble', 'L Balaji', 4, 'AB Agarkar', 'SB Bangar', 2, 'IK Pathan', 'A Kumble', 3, 'IK Pathan', 'SB Bangar', 3, 'R Dravid', 'SC Ganguly', 0, 'SB Bangar', 'AB Agarkar', 2, 'SB Bangar', 'IK Pathan', 3, 'SB Bangar', 'SC Ganguly', 0, 'SC Ganguly', 'VVS Laxman', 25, 'SC Ganguly', 'Yuvraj Singh', 52, 'VVS Laxman', 'SC Ganguly', 25, 'Yuvraj Singh', 'SC Ganguly', 52]

In [23]:
list1

['A Kumble',
 'IK Pathan',
 3,
 'A Kumble',
 'L Balaji',
 4,
 'AB Agarkar',
 'SB Bangar',
 2,
 'IK Pathan',
 'A Kumble',
 3,
 'IK Pathan',
 'SB Bangar',
 3,
 'R Dravid',
 'SC Ganguly',
 0,
 'SB Bangar',
 'AB Agarkar',
 2,
 'SB Bangar',
 'IK Pathan',
 3,
 'SB Bangar',
 'SC Ganguly',
 0,
 'SC Ganguly',
 'VVS Laxman',
 25,
 'SC Ganguly',
 'Yuvraj Singh',
 52,
 'VVS Laxman',
 'SC Ganguly',
 25,
 'Yuvraj Singh',
 'SC Ganguly',
 52]