## Imports

In [12]:
import pandas as pd
import glob

In [14]:
#importing multiple files in a directory
l = [pd.read_csv(filename) for filename in glob.glob("wbb_csv2\*.csv")]
df = pd.concat(l, axis = 0)

## Check for duplicates & errors

In [15]:
df.season.unique()

array(['2016/17', '2017/18', '2018/19', '2019/20', '2020/21', '2015/16'],
      dtype=object)

In [16]:
len(df)-len(df.drop_duplicates())

60883

## Correcting the errors

In [17]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1023655,2016/17,2016-12-10,North Sydney Oval,1,0.1,Adelaide Strikers,Melbourne Renegades,BE Patterson,TT Beaumont,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1023655,2016/17,2016-12-10,North Sydney Oval,1,0.2,Adelaide Strikers,Melbourne Renegades,BE Patterson,TT Beaumont,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1023655,2016/17,2016-12-10,North Sydney Oval,1,0.3,Adelaide Strikers,Melbourne Renegades,TT Beaumont,BE Patterson,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1023655,2016/17,2016-12-10,North Sydney Oval,1,0.4,Adelaide Strikers,Melbourne Renegades,BE Patterson,TT Beaumont,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1023655,2016/17,2016-12-10,North Sydney Oval,1,0.5,Adelaide Strikers,Melbourne Renegades,BE Patterson,TT Beaumont,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# df['season'] = df['season'].astype('int')

In [19]:
df = df.drop_duplicates(keep = 'first')

In [20]:
len(df)-len(df.drop_duplicates())

0

## Sort by datetime

In [21]:
df['start_date'] = pd.to_datetime(df['start_date'])

In [22]:
df = df.sort_values('start_date', ascending = True)

In [23]:
df.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
123,896463,2015/16,2015-12-18,Drummoyne Oval,2,0.2,Melbourne Stars,Sydney Sixers,MM Lanning,KM Mack,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df.tail(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
168,1226963,2020/21,2020-11-29,North Sydney Oval,2,7.5,Sydney Thunder,Melbourne Stars,R Trenaman,HC Knight,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.to_csv('WBBL_ball_by_ball.csv', index = None)