# Crime Against Women in India

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import matplotlib

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

In [4]:
heart_failure_raw_df = pd.read_csv("C:\\Users\\SHETTS60\\Documents\\Python scripts\\Data\\heart_failure_clinical_records_dataset.csv")
heart_failure_df = heart_failure_raw_df.copy()

In [5]:
heart_failure_df.head()

    age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  smoking  time  DEATH_EVENT
0  75.0  0        582                       0         20                 1                    265000.00  1.9               130           1    0        4     1
1  55.0  0        7861                      0         38                 0                    263358.03  1.1               136           1    0        6     1
2  65.0  0        146                       0         20                 0                    162000.00  1.3               129           1    1        7     1
3  50.0  1        111                       0         20                 0                    210000.00  1.9               137           1    0        7     1
4  65.0  1        160                       1         20                 0                    327000.00  2.7               116           0    0        8     1