In [1]:
# Looping over a dictionary
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

for key in person:
    print("Key:", key, ",", "Value:", person[key])

Key: name , Value: John Doe
Key: married , Value: True
Key: age , Value: 32
Key: sex , Value: Male

In [2]:
for value in person.values():
    print(value)

John Doe
True
32
Male

In [3]:
for key_value_pair in person.items():
    print(key_value_pair)

('name', 'John Doe')
('married', True)
('age', 32)
('sex', 'Male')

In [4]:
for key, value in person.items():
    print("Key:", key, ",", "Value:", value)

Key: name , Value: John Doe
Key: married , Value: True
Key: age , Value: 32
Key: sex , Value: Male

In [4]:
#If we just want to multiply(or any arithmatic function)  first element of one For loop  with just first element of second for loop  
# and not with all elements of second for loop make use 'zip' function, it creates pair
region = [73, 67, 43]
weights = [0.3, 0.2, 0.5]

for x, y in zip(region, weights):
    print(x , ":",y)

73 : 0.3
67 : 0.2
43 : 0.5

In [5]:
l1 =[1,2,3]
l2 = [4,5,6]

In [7]:
#We get this error when we multiply one list with another list
l1*l2

TypeError: can't multiply sequence by non-int of type 'list'

In [8]:
#convert the lists into numpy array and then calculate
import numpy as np

In [9]:
a1 =np.array(l1)
a2 =np.array(l2)

In [10]:
a1 * a2

array([ 4, 10, 18])