## Imports

In [1]:
# to convert into dataframes
import pandas as pd

# extract url response/info
from urllib.request import urlopen

# to work with html content
from bs4 import BeautifulSoup

## Fetch T20I - Batting Ratings & Rankings - with Date (ex: 1st Jan 2021)

- **Note: Here date format = (YYYY/MM/DD)** 
- 1st Jan 2021 = 2021/01/01
- 10th Jan 2021 = 2021/01/10

In [2]:
date = '2021/01/01'
url = "https://www.relianceiccrankings.com/ranking/t20/batting/" + date + "/"
text = urlopen(url)
soup = BeautifulSoup(text, "lxml")
table = soup.findAll('table')

cols = len(table[0].findAll('tr')[0].findAll('th'))
rows = len(table[0].findAll('tr'))

all_players = []

for k in range(1, rows):
    
    # iterate through all rows
    row_data = []
    for col in range(1, cols + 1):
        text = table[0].findAll('tr')[k].findAll('td')[col].get_text()
        text = text.replace('\n','')
        row_data.append(text)
        
    all_players.append(row_data)
        
    # populate column names
    tr_list_columns = table[0].findAll('tr')[0].findAll('th')
    cols_count = len(tr_list_columns)
    
    column_names_ls = []
    for i in range(cols_count):
        column_name = tr_list_columns[i].get_text()
        column_names_ls.append(column_name)
        
    # convert to dataframe
df = pd.DataFrame(all_players, columns = column_names_ls)

In [3]:
df

,Rating,Name,,Career Best T20 Rating,Career Best T20 Ranking
0,892,Dawid Malan,,"915 v South Africa, 01/12/2020","1 v Australia,on 04/09/2020"
1,830,Aaron Finch,,"900 v Zimbabwe, 03/07/2018","1 v South Africa,on 14/03/2014"
2,828,Babar Azam,,"896 v England, 05/05/2019","1 v New Zealand,on 28/01/2018"
3,774,Devon Conway,,"784 v Bangladesh, 28/03/2021","4 v Bangladesh,on 28/03/2021"
4,762,Virat Kohli,,"897 v England, 07/09/2014","1 v England,on 07/09/2014"
...,...,...,...,...,...
95,355,Matthew Wade,,"402 v India, 03/02/2012","34 v India,on 03/02/2012"
96,347,Shoaib Malik,,"577 v Sri Lanka, 12/08/2009","6 v New Zealand,on 22/09/2007"
97,347,Marcus Stoinis,,"347 v New Zealand, 07/03/2021","96 v New Zealand,on 07/03/2021"
98,344,Samiullah Samiullah Shenwari,,"470 v Bangladesh, 07/06/2018","46 v Ireland,on 08/03/2017"
99,339,Aqib Ilyas,,"365 v Canada, 25/10/2019","75 v Namibia,on 29/10/2019"

In [4]:
def fetch_ratings_df(over_format, player_role, date):
    url = "https://www.relianceiccrankings.com/ranking/" + over_format + '/' + player_role + '/' + date + '/'
    print(url)
    text = urlopen(url)
    soup = BeautifulSoup(text, "lxml")
    table = soup.findAll('table')

    cols = len(table[0].findAll('tr')[0].findAll('th'))
    rows = len(table[0].findAll('tr'))

    all_players = []

    for k in range(1, rows):

        # iterate through all rows
        row_data = []
        for col in range(1, cols + 1):
            text = table[0].findAll('tr')[k].findAll('td')[col].get_text()
            text = text.replace('\n','')
            row_data.append(text)

        all_players.append(row_data)

        # populate column names
        tr_list_columns = table[0].findAll('tr')[0].findAll('th')
        cols_count = len(tr_list_columns)

        column_names_ls = []
        for i in range(cols_count):
            column_name = tr_list_columns[i].get_text()
            column_names_ls.append(column_name)

        # convert to dataframe
    df = pd.DataFrame(all_players, columns = column_names_ls)
    
    return df

## Fetch data for any Format, Role & Date:
- Over_format = test, odi, t20
- Player_role = batting, bowling, all-rounder
- Date = 'YYYY/MM/DD'

In [6]:
over_format = 't20'
player_role = 'all-rounder'
date = '2021/02/01'

df = fetch_ratings_df(over_format, player_role, date)

https://www.relianceiccrankings.com/ranking/t20/all-rounder/2021/02/01/

In [7]:
df

,Rating,Name,,Career Best T20 Rating,Career Best T20 Ranking
0,285,Mohammad Mohammad Nabi,,"355 v Bangladesh, 15/09/2019","1 v West Indies,on 14/11/2019"
1,238,Shakib Al Hasan,,"408 v Pakistan, 24/04/2015","1 v Pakistan,on 24/04/2015"
2,226,Glenn Maxwell,,"398 v Sri Lanka, 27/10/2019","1 v Sri Lanka,on 06/09/2016"
3,194,Richard Berrington,,"253 v Ireland, 20/09/2019","3 v Singapore,on 18/10/2019"
4,170,Gareth Delany,,"170 v Afghanistan, 10/03/2020","5 v Afghanistan,on 10/03/2020"
5,159,Khawar Ali,,"159 v Maldives, 25/02/2020","6 v Maldives,on 25/02/2020"
6,158,Sean Williams,,"233 v Nepal, 01/10/2019","2 v Bangladesh,on 09/03/2020"
7,153,Collins Obuya,,"178 v Papua New Guinea, 27/10/2019","8 v Bermuda,on 21/10/2019"
8,152,Rohan Mustafa,,"182 v Jersey, 22/10/2019","5 v Iran,on 23/02/2020"
9,135,Zeeshan Maqsood,,"181 v Scotland, 31/10/2019","7 v Scotland,on 31/10/2019"