## Imports

In [1]:
import pandas as pd
import glob

In [2]:
#importing multiple files in a directory
l = [pd.read_csv(filename) for filename in glob.glob("bbl_csv2\*.csv")]
df = pd.concat(l, axis = 0)

## Check for duplicates & errors

In [3]:
df.season.unique()

array(['2016/17', '2017/18', '2018/19', '2019/20', '2020/21', '2011/12',
       '2012/13', '2013/14', '2014/15', '2015/16'], dtype=object)

In [4]:
len(df)-len(df.drop_duplicates())

95869

## Correcting the errors

In [5]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1023581,2016/17,2016-12-20,Sydney Showground Stadium,1,0.1,Sydney Thunder,Sydney Sixers,KR Patterson,RJ Gibson,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1023581,2016/17,2016-12-20,Sydney Showground Stadium,1,0.2,Sydney Thunder,Sydney Sixers,KR Patterson,RJ Gibson,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1023581,2016/17,2016-12-20,Sydney Showground Stadium,1,0.3,Sydney Thunder,Sydney Sixers,KR Patterson,RJ Gibson,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1023581,2016/17,2016-12-20,Sydney Showground Stadium,1,0.4,Sydney Thunder,Sydney Sixers,KR Patterson,RJ Gibson,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1023581,2016/17,2016-12-20,Sydney Showground Stadium,1,0.5,Sydney Thunder,Sydney Sixers,KR Patterson,RJ Gibson,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# df['season'] = df['season'].astype('int')

In [7]:
df = df.drop_duplicates(keep = 'first')

In [8]:
len(df)-len(df.drop_duplicates())

0

## Sort by datetime

In [9]:
df['start_date'] = pd.to_datetime(df['start_date'])

In [10]:
df = df.sort_values('start_date', ascending = True)

In [11]:
df.to_csv('BBL_ball_by_ball.csv', index = None)