## Imports

In [1]:
import pandas as pd
import glob

## Check for any errors

In [2]:
ls1 = glob.glob("Shishir_tests_csv2\*.csv")
ls2 = []

for i in ls1:
    try:
        ls2.append(pd.read_csv(i))
    except:
        print('error', i)

## Combine Match by Match CSV files

In [3]:
#importing multiple files in a directory
l = [pd.read_csv(filename) for filename in glob.glob("Shishir_tests_csv2\*.csv")]
df = pd.concat(l, axis = 0)

## Sneak peak

In [4]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1000851,2016/17,2016-11-03,Western Australia Cricket Association Ground,1,0.1,South Africa,Australia,SC Cook,D Elgar,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000851,2016/17,2016-11-03,Western Australia Cricket Association Ground,1,0.2,South Africa,Australia,SC Cook,D Elgar,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000851,2016/17,2016-11-03,Western Australia Cricket Association Ground,1,0.3,South Africa,Australia,SC Cook,D Elgar,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000851,2016/17,2016-11-03,Western Australia Cricket Association Ground,1,0.4,South Africa,Australia,SC Cook,D Elgar,...,0,NaN,NaN,NaN,NaN,NaN,caught,SC Cook,NaN,NaN
4,1000851,2016/17,2016-11-03,Western Australia Cricket Association Ground,1,0.5,South Africa,Australia,HM Amla,D Elgar,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.season.unique()

array(['2016/17', 2016, 2017, '2017/18', 2018, '2018/19', 2019, '2019/20',
       2020, '2020/21', 2021, 2005, '2005/06', 2006, '2006/07', 2007,
       '2007/08', 2008, '2008/09', 2009, '2009/10', 2010, '2010/11', 2011,
       '2011/12', 2012, '2012/13', 2013, '2013/14', '2003/04', 2004,
       '2004/05', 2014, '2014/15', 2015, '2015/16'], dtype=object)

In [1]:
df.batting_team.unique()

NameError: name 'df' is not defined

In [ ]:
#matches by country
len(df[df.batting_team == 'India'].match_id.unique())

## Check for duplicates

In [ ]:
len(df)-len(df.drop_duplicates())

## Correcting duplicates

In [ ]:
df = df.drop_duplicates(keep = 'first')

In [ ]:
len(df)-len(df.drop_duplicates())

## Sort by dates

In [ ]:
df['start_date'] = pd.to_datetime(df['start_date'])

In [ ]:
df = df.sort_values('start_date', ascending = True)

## Check after sorting

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
len(df)

## Export to single CSV

In [ ]:
df.to_csv('TESTS_ball_by_ball.csv', index = False)